.container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 15px;
    background-color: rgb(255, 36, 36);
}

.search{
    position: relative;
    display: flex;
    justify-content: end;
    margin-right: 200px;
}

.search input {
    padding: 5px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease;
}

.fake-hamburguer{
    position: fixed;
}

.search button, .fake-hamburguer button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.fake-hamburguer .line {
  width: 30px;
  height: 3px;
  background-color: #333;
  margin: 3px;
  transition: transform 0.3s ease;
}

